body {
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0 auto;
    font-family: 'Poppins', arial, sans-serif;
}

section {
    text-align: center;
}

section.header {
    padding: 4% 4% 0 4%;
}

img.profil {
    width: 25%;
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    font-size: 2.5em;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.41) 3px 3px 5px;
}

section.text {
    font-weight: 700;
    color: #e6ecef;
}

span.name {
    color: #4c2d08;
}

section.text>p>a {
    text-decoration: none;
    color: #efb46e;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

section.text>p>a:hover,
section.text>p>a:active,
section.text>p>a:focus {
    color: #4c2d08;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

footer {
    text-align: center;
    background-color: #4c2d08;
    padding: 1% 0;
    margin-top: 40px;
    color: #fff;
    font-weight: 700;
}